---
import { languages, type Language } from "../i18n/utils";
import "../styles/language-switcher.css";

interface Props {
  currentLang: Language;
}

const { currentLang } = Astro.props;
---

<div class="language-switcher">
  {
    Object.entries(languages).map(([lang, label]) => (
      <a
        href={`/${lang}/`}
        class:list={["lang-link", { active: lang === currentLang }]}
        aria-label={`Switch to ${label}`}
      >
        {label}
      </a>
    ))
  }
</div>
